body
{
    background-color: #FFEEE1;
    font-family: 'Press Start 2P', cursive;
}

#logo
{
    display: flex;
    justify-content: center;
}

main
{
    width: 960px;
    margin: 0 auto;
    height: 600px;
    border-radius: 5%;
    background-color: #FFF8F3;
    position: relative;
}

/* HELP */

.help .tuto
{
    display: none;
}

.help:hover>.tuto
{
    display: block;
}

.help, .tuto
{
    margin: 0;
    padding: 0;
}

.help
{
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: #FFF;
    padding: 10px;
    border-radius: 50%;
    padding: 10px;
}

.tuto
{
    position: absolute;
    right: 100px;
    top: 100px;
    background-color: #FFF;
    width: 500px;
    height: 200px;
    border-radius: 15%;
    padding: 100px;
    line-height: 30px;
}

/** FIRST PAGE **/

#first_page
{
    width: 960px;
    height: 600px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#first_page p
{
    margin: 0 50px; 
    text-transform: uppercase;
}

#fist_page span
{
    display: block;
}

/* IMAGES */

.timmy_img
{
    width: 200px;
    height: 200px;
    display: block;
    background: url(../semaine-intensive-js-20-04-2020/player_characters_SIJS/GIF/sleeping_boy.gif) no-repeat;
    background-size: cover;
}

.timmy_img:hover
{
    background-image: url(../semaine-intensive-js-20-04-2020/player_characters_SIJS/GIF/jumping_boy.gif);
    background-size: cover;
}

.tiny_img
{
    width: 200px;
    height: 200px;
    display: block;
    background: url(../semaine-intensive-js-20-04-2020/player_characters_SIJS/GIF/sleeping_girl.gif) no-repeat;
    background-size: cover;
}

.tiny_img:hover
{
    background-image: url(../semaine-intensive-js-20-04-2020/player_characters_SIJS/GIF/jumping_girl.gif);
    background-size: cover;
}

.character
{
    height: 220px;
}

.character:hover
{
    background-color: #F37C7D;
    border-radius: 25%;
    transition: background linear 0.25s;
}



/** /FIRST PAGE **/

/** SECOND PAGE **/

#second_page
{
    width: 960px;
    margin: 0 auto;
    display: flex;  
    height: 600px;
    border-radius: 5%;
    justify-content: space-around;
    align-items: center;
    user-select: none;
    visibility: hidden;
    position: relative;
}

#second_page img
{
    width: 250px;
    height: 250px;
}

/* RETURN HOME */

.arrow
{
    width: 90px;
    height: 60px;
    display: block;
    background: url(../semaine-intensive-js-20-04-2020/player_characters_SIJS/GIF/arrow.gif) no-repeat;
    background-size: cover;
    position: absolute;
    top: 15px; 
    left: 20px;
}

.return
{
    position: absolute;
    color: #D95763;
    text-shadow: 1px 1px #AC3232;
    text-decoration: none;
    text-transform: uppercase;
    top: 38px;
    left: 115px;
    font-size: 17px;
}

.tutorial
{
    position: absolute;
    bottom: 20px;
    color: #8a8a8a;
}

/* SCORE */

.container
{
    background-color: #FFFCFA;
    height: 150px;
    width: 240px;
    padding: 20px;
    padding-left: 30px;
    border-radius: 5%;
    margin-bottom: 50px;
    line-height: 50px;
}

/* BUTTON START */

.start
{
    text-transform: uppercase;
    color: #FFF;
    text-decoration: none;
    background-color: #D95763;
    text-shadow: 2px 2px #AC3232;
    width: 120px;
    height: 40px;
    padding: 20px 105px;
    border-radius: 5%;
    text-align: center;
}

.start:hover{
    color: #D95763;
    background-color: #FFF;
    text-shadow: 2px 2px #000;
    transition: background linear 0.25s;
}


/** FOOTER **/

footer
{
    width: 960px;
    margin: 0 auto;
    height: 300px;
    margin-top: 100px;
    font-size: 12px;
    display: flex;
    justify-content: space-evenly;
}

footer div
{
    display: flex;
    line-height: 20px;
    width: 300px;
    height: 150px;
    margin-top: 70px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

footer a
{
    text-decoration: none;
    color: #000000;
}

footer a:hover
{
    text-decoration: none;
    color: #D95763;
}
footer p
{
    text-align: center;
}