body
{
    background-color: #FFEEE1;
    font-family: 'Press Start 2P', cursive;
}

#logo
{
    margin-left: 50px;
}

/* MAIN */

main
{
    width: 960px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #FFF8F3;
    height: 600px;
    border-radius: 5%;
}

main p
{
    margin: 270px 50px 0 50px; 
    text-transform: uppercase;
}

.character
{
    margin-top: 180px;
}

main span
{
    display: block;
}

/* Images */

.timmy_img{
  width: 200px;
  height: 200px;
  display: block;
  background: url(../semaine-intensive-js-20-04-2020/player_characters_SIJS/GIF/sleeping_boy.gif) no-repeat;
  background-size: cover;
}

.timmy_img:hover{
  background-image: url(../semaine-intensive-js-20-04-2020/player_characters_SIJS/GIF/jumping_boy.gif);
  background-size: cover;
}

.tiny_img{
  width: 200px;
  height: 200px;
  display: block;
  background: url(../semaine-intensive-js-20-04-2020/player_characters_SIJS/GIF/sleeping_girl.gif) no-repeat;
  background-size: cover;
}

.tiny_img:hover{
  background-image: url(../semaine-intensive-js-20-04-2020/player_characters_SIJS/GIF/running_girl.gif);
  background-size: cover;
}

.character:hover
{
    height: 220px;
    background-color: #F37C7D;
    border-radius: 25%;
    transition: background linear 0.25s;
    padding-bottom: 15px;
}

/* /MAIN */


/* .progressbar {
    width: 80%;
    margin: 25px auto;
    border: solid 1px #000;
  }
  .progressbar .inner {
    height: 15px;
    animation: progressbar-countdown;
     Placeholder, this will be updated using javascript 
    animation-duration: 10s;
     We stop in the end 
    animation-iteration-count: 1;
     Stay on pause when the animation is finished finished 
    animation-fill-mode: forwards;
     We start paused, we start the animation using javascript 
    animation-play-state: paused;
     We want a linear animation, ease-out is standard 
    animation-timing-function: linear;
  }
  @keyframes progressbar-countdown {
    0% {
      width: 0%;
      background: #5cb555;
    }
    100% {
      width: 100%;
      background: #eb4a4a;
    }
  }
   */